@font-face { 
    font-family: lato-400; 
    src: url(../assets/fonts/Lato-Regular.ttf); 
    } 
    @font-face { 
        font-family: lato-500; 
        src: url(../assets/fonts/Lato-Medium.ttf); 
    } 
    @font-face { 
        font-family: lato-600; 
        src: url(../assets/fonts/Lato-Semibold.ttf); 
    } 
    @font-face { 
        font-family: lato-700; 
        src: url(../assets/fonts/Lato-Bold.ttf); 
    }