#hero .about__wrapper {
  padding-top: 105px;
  padding-bottom: 115px;
  position: relative;
}

#hero .about__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/img/two__lines.svg");
  width: 100%;
  height: 100%;
  background-position: 43% 49px;
  background-repeat: no-repeat;
  background-size: 55% 101%;
  z-index: -1;
}

#hero .about__wrapper .text {
  position: relative;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 26px;
}

#hero .about__wrapper .text img {
  position: absolute;
  left: -5px;
  top: -60px;
  z-index: -1;
}

#hero .about__wrapper .text svg {
  display: none;
}

#hero .about__wrapper .text .top-p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #282C37;
  margin-bottom: 5px;
}

#hero .about__wrapper .text .middle-p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #282C37;
  margin-bottom: 15px;
}

#hero .about__wrapper .text .bottom-p {
  font: 22px 'Lato-400';
  max-width: 475px;
  line-height: 26px;
  color: #282C37;
  margin-bottom: 30px;
}

#hero .about__wrapper .img img {
  width: 100%;
}

#hero .problems__wrapper {
  padding: 47px 0;
}

#hero .problems__wrapper .problems__container .block {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}

#hero .problems__wrapper .problems__container .block img {
  width: 35px;
  height: 38px;
}

#hero .problems__wrapper .problems__container .block p {
  font: 18px 'Lato-400';
  line-height: 22px;
  color: #282C37;
}

#hero .ps-4 {
  padding-left: 2.5rem !important;
}

#hero .hero__container {
  padding-top: 34px;
  margin-bottom: 65px;
  position: relative;
  --bs-gutter-x: 0!important;
}

#hero .hero__container .hero__svg {
  top: 0px;
  left: 9px;
  width: 130px;
  z-index: -1;
  height: 111px;
  position: absolute;
}

#hero .hero__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/img/serv-line.png");
  width: 100%;
  height: 100%;
  background-position: 25% -96px;
  background-repeat: no-repeat;
  z-index: -1;
}

#hero .hero__container .hero__text-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #282C37;
  padding-left: 70px;
  margin-bottom: 85px !important;
  width: 100%;
}

#hero .hero__container .block-hero__size {
  background: #6CA7EF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 10px 15px;
}

#hero .hero__container .block-hero__size p {
  font: 18px 'Lato-500';
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

#hero .hero__container .block-hero__size p a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

#hero .hero__container .block__hero-first {
  height: 507px;
}

#hero .hero__container .block__hero-first p {
  max-width: 270px;
}

#hero .hero__container .block__hero-second {
  height: 164px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

#hero .hero__container .block__hero-second p {
  max-width: 495px;
}

#hero .hero__container .block__hero-third {
  height: 328px;
}

#hero .hero__container .block__hero-third p {
  max-width: 213px;
}

#hero .hero__container .block__hero-fourth {
  height: 328px;
}

#hero .hero__container .block__hero-fourth p {
  max-width: 213px;
}

#hero .hero__container .responsive__ipad {
  display: none;
}

.decidions {
  margin-top: 10px;
}

.decidions .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 4fr;
  -ms-grid-rows: 164px 328px;
      grid-template-rows: 164px 328px;
  gap: 15px;
}

.decidions .container .grid .box {
  background: #6CA7EF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.decidions .container .grid .box:hover {
  background-color: #5391DC;
  cursor: pointer;
}

.decidions .container .grid .box p {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
  padding: 15px 0;
}

.decidions .container .grid .box img {
  display: block;
  margin: 15px;
}

.decidions .container .grid .box-1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.decidions .container .grid .box-1 p {
  width: 270px;
}

.decidions .container .grid .box-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.decidions .container .grid .box-2 p {
  width: 495px;
  margin: 0;
}

.decidions .container .grid .box-3 p {
  width: 213px;
}

.decidions .container .grid .box-3 img {
  padding-left: 19px;
}

.decidions .container .grid .box-4 p {
  width: 242px;
}

.home__button {
  padding: 14px 32px 14px 32px;
  background: #47CF34;
  border: 1px solid #47CF34;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home__button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #30B01E;
}

@media (max-width: 575.98px) {
  .hero__container .block__hero-first,
  .hero__container .block__hero-third {
    margin-bottom: 15px;
  }
  .hero__container .block__hero-second,
  .hero__container .block__hero-first,
  .hero__container .block__hero-third,
  .hero__container .block__hero-fourth {
    height: 249px !important;
  }
  .hero__container .block__hero-second img,
  .hero__container .block__hero-first img,
  .hero__container .block__hero-third img,
  .hero__container .block__hero-fourth img {
    width: 68.74px;
    height: 57.4px;
  }
}

@media (max-width: 767.98px) {
  #hero .about__wrapper {
    padding-top: 40px !important;
    padding-bottom: 80px !important;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #hero .about__wrapper::before {
    display: none;
  }
  #hero .about__wrapper .row > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    padding: 0;
  }
  #hero .about__wrapper .ps-4 {
    padding: 0 !important;
  }
  #hero .about__wrapper .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 26px;
    text-align: center;
  }
  #hero .about__wrapper .text img {
    display: none;
  }
  #hero .about__wrapper .text svg {
    display: block;
    margin: auto;
    margin-top: 55px;
  }
  #hero .about__wrapper .text .top-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 5px;
  }
  #hero .about__wrapper .text .middle-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 15px;
  }
  #hero .about__wrapper .text .bottom-p {
    margin: auto;
    width: 300px;
    font: 14px 'Lato-400';
    line-height: 17px;
    color: #282C37;
    margin-bottom: 25px !important;
  }
  #hero .about__wrapper .img {
    text-align: center;
  }
  #hero .about__wrapper .img img {
    width: 239px !important;
    height: 231.43px !important;
  }
  #hero .problems__wrapper .problems__container .block {
    margin-bottom: 25px !important;
    gap: 29px !important;
  }
  #hero .problems__wrapper .problems__container .block p {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  #hero .hero__container {
    padding-top: 50px !important;
  }
  #hero .hero__container::before {
    display: none;
  }
  #hero .hero__container .hero__svg {
    display: none;
  }
  #hero .hero__container .hero__text-title {
    padding-left: 0 !important;
    margin-bottom: 20px !important;
    width: 100%;
    text-align: center;
  }
  #hero .hero__container .block-hero__size {
    padding: 15px;
  }
  #hero .hero__container .block-hero__size p {
    width: 100%;
  }
  #hero .hero__container .block__hero-second {
    height: 328px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hero .hero__container .block__hero-first,
  #hero .hero__container .block__hero-third,
  #hero .hero__container .block__hero-fourth {
    height: 328px;
  }
  #hero .hero__container .responsive__ipad {
    display: block;
  }
  #hero .hero__container .responsive__web {
    display: none;
  }
}

@media (max-width: 991.98px) {
  #hero .about__wrapper {
    padding-top: 105px;
    position: relative;
  }
  #hero .about__wrapper .text {
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
  }
  #hero .about__wrapper .text img {
    position: absolute;
    left: -5px;
    top: -60px;
    z-index: -1;
  }
  #hero .about__wrapper .text .top-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 5px;
  }
  #hero .about__wrapper .text .middle-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 15px;
  }
  #hero .about__wrapper .text .bottom-p {
    font: 14px 'Lato-400';
    max-width: 475px;
    line-height: 17px;
    color: #282C37;
    margin-bottom: 30px;
  }
  #hero .about__wrapper .img img {
    width: 259px;
    height: 250.8px;
  }
  #hero .problems__wrapper .problems__container .block {
    gap: 35px;
  }
}

.decidions .container {
  padding: 0 5px;
}

.decidions .container .grid .box-1 p {
  padding-top: 11.37px;
}

.decidions .container .grid .box-1 img {
  width: 68.74px;
  height: 57.4px;
}

.decidions .container .grid .box-2 p {
  padding-top: 7px;
}

.decidions .container .grid .box-2 img {
  width: 61px;
  height: 60px;
}

.decidions .container .grid .box-3 p {
  padding-top: 5px;
}

.decidions .container .grid .box-3 img {
  width: 70px;
  height: 70px;
  padding-left: 7px;
}

.decidions .container .grid .box-4 p {
  padding-top: 11px;
}

.decidions .container .grid .box-4 img {
  width: 80px;
  height: 70px;
}

@media (max-width: 991px) {
  #hero .about__wrapper .text {
    margin-left: 0px;
  }
  .decidions {
    margin-top: 19px;
  }
  .decidions .container .grid {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
    -ms-grid-rows: 249px 249px;
        grid-template-rows: 249px 249px;
  }
  .decidions .container .grid .box p {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 21.6px;
    color: white;
    padding: 15px 0;
  }
  .decidions .container .grid .box img {
    display: block;
    margin: 15px;
  }
  .decidions .container .grid .box-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .decidions .container .grid .box-1 p {
    width: 253px;
  }
  .decidions .container .grid .box-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .decidions .container .grid .box-2 p {
    width: 253px;
    margin: 0;
  }
  .decidions .container .grid .box-3 p {
    width: 253px;
  }
  .decidions .container .grid .box-3 img {
    padding-left: 19px;
  }
  .decidions .container .grid .box-4 p {
    width: 253px;
  }
}

@media (max-width: 575px) {
  .decidions .container {
    padding: 0 15px;
  }
  .decidions .container .grid {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    -ms-grid-rows: 249px 249px 249px 249px;
        grid-template-rows: 249px 249px 249px 249px;
  }
  .decidions .container .grid .box-1 p {
    width: 253px;
  }
  .decidions .container .grid .box-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .decidions .container .grid .box-2 p {
    width: 253px;
    margin: 0;
  }
  .decidions .container .grid .box-3 p {
    width: 253px;
  }
  .decidions .container .grid .box-3 img {
    padding-left: 19px;
  }
  .decidions .container .grid .box-4 p {
    width: 253px;
  }
}
/*# sourceMappingURL=hero.css.map */