
#hero {
    .about__wrapper {
        padding-top: 105px;
        padding-bottom: 115px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../assets/img/two__lines.svg');
            width: 100%;
            height: 100%;
            background-position: 43% 49px;
            background-repeat: no-repeat;
            background-size: 55% 101%;
            z-index: -1;
        }

        .text {
                position: relative;
                margin-top: 90px;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 26px;
            img {
                position: absolute;
                left: -5px;
                top: -60px;
                z-index: -1;
            }
            svg {
                display: none;
            }
            .top-p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 5px;
            }

            .middle-p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                text-transform: uppercase;
                color: #282C37;
                margin-bottom: 15px;
            }

            .bottom-p{
                font: 22px 'Lato-400';
                max-width: 475px;
                line-height: 26px;
                color: #282C37;
                margin-bottom: 30px;
            }
        }

        .img {
            img {
                width: 100%;
            }
        }
    }

    .problems__wrapper {
        padding: 47px 0;
        .problems__container {
            // gap: 13px;
            .block {
                margin-bottom: 60px;
                display: flex;
                gap: 64px;

                img {
                    width: 35px;
                    height: 38px;
                }

                p {
                    font: 18px 'Lato-400';
                    line-height: 22px;
                    color: #282C37;
                }
            }
        }
    }


    .ps-4 {
        padding-left: 2.5rem !important;
    }

    .hero__container {
        padding-top: 34px;
        margin-bottom: 65px;
        position: relative;
        --bs-gutter-x: 0!important;
        .hero__svg {
            top: 0px;
            left: 9px;
            width: 130px;
            z-index: -1;
            height: 111px;
            position: absolute;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../assets/img/serv-line.png');
            width: 100%;
            height: 100%;
            background-position: 25% -96px;
            background-repeat: no-repeat;
            // background-size: 100% 100%;
            z-index: -1;
        }
        .hero__text-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            text-transform: uppercase;
            color: #282C37;
            padding-left: 70px;
            margin-bottom: 85px!important;
            width: 100%;
        }
        .block-hero__size {
            background: #6CA7EF;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px;
            padding: 10px 15px;

            p {
                font: 18px 'Lato-500';
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                a {
                    text-decoration: none;
                    color: #FFFFFF; 
                    cursor: pointer;
                }
            }
        }

        .block__hero-first {
            height: 507px;
            
            p {
                max-width: 270px;
            }
        }

        .block__hero-second {
            height: 164px;
            flex-direction: row;
            margin-bottom: 15px;

            p {
                max-width: 495px;
            }
        }

        .block__hero-third {
            height: 328px;

            p {
                max-width: 213px;
            }
        }

        .block__hero-fourth {
            height: 328px;

            p {
                max-width: 213px;
            }
        }

        .responsive__ipad {
            display: none;
        }

    }
}


.decidions{
    margin-top: 10px;
    .container{
      .grid{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows: 164px 328px;
        gap: 15px;
        .box{
          background: #6CA7EF;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: .2s;
          &:hover{
            background-color: #5391DC;
            cursor: pointer;
          }
          p{
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 21.6px;
            color: white;
            padding: 15px 0;
          }
          img{
            display: block;
            margin: 15px;
          }
        }
        .box-1{
          grid-row-start: 1;
          grid-row-end: 3;
          p{
            width: 270px;
          }
        }
        .box-2{
          grid-column-start: 2;
          grid-column-end: 4;
          flex-direction: row;
          p{
            width: 495px;
            margin: 0;
          }
        }
        .box-3{
          p{
            width: 213px;
          }
          img{
            padding-left: 19px;
          }
        }
        .box-4{
          p{
            width: 242px;
          }
        }
      }
    }
  }

.home__button {
    padding: 14px 32px 14px 32px;
    background: #47CF34;
    border: 1px solid #47CF34;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        transition: 0.2s;
        background: #30B01E;
    }
}

@media (max-width: 575.98px) {
    .hero__container {
        .block__hero-first,
        .block__hero-third { 
            margin-bottom: 15px;
        }
        .block__hero-second,
        .block__hero-first,
        .block__hero-third,
        .block__hero-fourth {
            height: 249px !important;
            img {
                width: 68.74px;
                height: 57.4px;
            }
        }


    }
}
@media (max-width: 767.98px) {
    #hero {
        .about__wrapper {
            padding-top: 40px !important;
            padding-bottom: 80px !important;
            position: relative;
            flex-direction: column-reverse;
            &::before {
               display: none;
            }
            .row>* {
                flex-shrink: 0;
                width: 100%;
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: var(--bs-gutter-y);
                padding: 0;
            }
            .ps-4 {
                padding: 0 !important;
            }
    
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 26px;
                text-align: center;
                img {
                   display: none;
                }
                svg {
                    display: block;
                    margin: auto;
                    margin-top: 55px;
                }
                .top-p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 5px;
                }
    
                .middle-p{
                    
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 15px;
                }
    
                .bottom-p{
                    margin: auto;
                    width: 300px;
                    font: 14px 'Lato-400';
                    line-height: 17px;
                    color: #282C37;
                    margin-bottom: 25px !important; 
                }
            }
    
            .img {
                text-align: center;
                img {
                    width: 239px !important;
                    height: 231.43px !important;
                }
            }
        }

        .problems__wrapper {
            // gap: 0;
            .problems__container {
                .block {
                    margin-bottom: 25px !important;
                    gap: 29px !important;

                    p {
                        font-size: 18px !important;
                        line-height: 22px !important;
                    }
                }
            }
        }

        .hero__container {
            padding-top: 50px !important;
            &::before {
               display: none;
            }
            .hero__svg {
                display: none;
            }
            .hero__text-title {
                padding-left: 0 !important;
                margin-bottom: 20px !important;
                width: 100%;
                text-align: center;
            }
            .block-hero__size {
                padding: 15px;

                p {
                    width: 100%;
                }
            }


            .block__hero-second {
                height: 328px;
                flex-direction: column;
            }
            .block__hero-first,
            .block__hero-third,
            .block__hero-fourth {
                height: 328px;
            }

            .responsive__ipad {
                display: block;
            }

            .responsive__web {
                display: none;
            }

        }
    }
}


@media (max-width: 991.98px) {
    #hero {
        .about__wrapper {
            padding-top: 105px;
            position: relative;
    
            .text {
                position: relative;
                margin-top: 50px;
                margin-left: 10px;
                img {
                    position: absolute;
                    left: -5px;
                    top: -60px;
                    z-index: -1;
                }
                .top-p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 34px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 5px;
                }
    
                .middle-p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #282C37;
                    margin-bottom: 15px;
                }
    
                .bottom-p{
                    font: 14px 'Lato-400';
                    max-width: 475px;
                    line-height: 17px;
                    color: #282C37;
                    margin-bottom: 30px;
                }
            }
    
            .img {
                img {
                    width: 259px;
                    height: 250.8px;
                }
            }
        }
        .problems__wrapper {
            .problems__container {
                .block {
                    gap: 35px;
                }
            }
        }
    }

}

.decidions{
    .container{
      padding: 0 5px;
      .grid{

        .box{
          p{

          }
          img{

          }
        }
        .box-1{

          p{
            padding-top: 11.37px;
          }
          img{
            width: 68.74px;
            height: 57.4px;
          }
        }
        .box-2{

          p{
            padding-top: 7px;
          }
          img{
            width: 61px;
            height: 60px;
          }
        }
        .box-3{
          p{
            padding-top: 5px;
          }
          img{
            width: 70px;
            height: 70px;
            padding-left: 7px;
          }
        }
        .box-4{
          p{
            padding-top: 11px;
          }
          img{
            width: 80px;
            height: 70px;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    #hero .about__wrapper .text {
        margin-left: 0px;
    }
    .decidions {
        margin-top: 19px;
        .container {
          .grid {
            grid-template-columns: 6fr 6fr;
            grid-template-rows: 249px 249px;
            .box {
              p {
                margin: 0 auto;
                text-align: center;
                font-size: 18px;
                line-height: 21.6px;
                color: white;
                padding: 15px 0;
              }
    
              img {
                display: block;
                margin: 15px;
              }
            }
    
            .box-1 {
              grid-row-start: 1;
              grid-row-end: 2;
    
              p {
                width: 253px;
              }
            }
    
            .box-2 {
              grid-column-start: 2;
              grid-column-end: 3;
              flex-direction: column;
    
              p {
                width: 253px;
                margin: 0;
              }
            }
    
            .box-3 {
              p {
                width: 253px;
              }
    
              img {
                padding-left: 19px;
              }
            }
    
            .box-4 {
              p {
                width: 253px;
              }
            }
          }
        }
      }
    }
    


@media (max-width: 575px) {
.decidions{
    .container{
      padding: 0 15px;
      .grid{
        grid-template-columns: 12fr;
        grid-template-rows: 249px 249px 249px 249px;
        .box{
          p{

          }
          img{

          }
        }
        .box-1 {
          p {
            width: 253px;
          }
        }

        .box-2 {
          grid-column-start: 1;
          grid-column-end: 2;
          p {
            width: 253px;
            margin: 0;
          }
        }

        .box-3 {
          p {
            width: 253px;
          }

          img {
            padding-left: 19px;
          }
        }

        .box-4 {
          p {
            width: 253px;
          }
        }
      }
    }
  }
}