.hero {
  padding: 106px 0 63px 0;
}

.hero__img {
  padding-left: 20px;
}

.hero__img img {
  width: 100%;
}

.heading {
  position: relative;
}

.heading .bg-polygon {
  position: absolute;
  left: -29px;
  top: -81px;
}

.services-polygon {
  position: absolute;
  /* left: -29px; */
  top: -109px;
  z-index: -10;
}

.hero__title {
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.hero__title__bottom {
  font-size: 30px;
}

.hero__subtitle {
  font: 22px 'Lato-400';
  margin: 19px 0 32px 0;
}

.hero__text {
  padding-left: 45px !important;
  padding-top: 109px;
  margin: 17px 0px 44px 0px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__hero {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__btn {
  width: 264px;
  height: 48px;
  background-color: #47CF34;
  text-transform: uppercase;
  color: #fff;
  font: 16px 'Lato-700';
  border-radius: 8px;
  border: none;
  letter-spacing: 1px;
}

.main__btn:hover {
  background: #30B01E;
}

.problems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 76px;
  padding: 31px 0px;
}

.problems__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}

.problems__item a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.problems__item a:hover {
  color: #5391DC !important;
  text-decoration: underline !important;
}

.services__title {
  height: 200px;
  position: relative;
}

.services__title-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 50px;
  padding-top: 130px;
}

.services__title-img-poly {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.services__title-img-arrow {
  position: absolute;
  top: 0;
  left: 90px;
  z-index: -1;
  width: 63%;
  height: 85%;
}

.services__items {
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-bottom: 58px;
}

.services__item {
  background: #6ca7ef;
  border-radius: 20px;
  height: 249px;
  margin: 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services__item:hover {
  background: #5391dc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services .col-sl-12,
.services .col-md-6,
.services .col-lg-4,
.services .col-lg-8 {
  padding: 0;
}

.services__item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.services__item-img {
  height: 81px;
}

.services__item-img_startup {
  height: 73px;
}

@media (min-width: 992px) {
  .services__img-report_height {
    height: 507px;
  }
  .services__img-idea_height {
    height: 164px;
  }
  .services__img-search_height {
    height: 328px;
  }
  .services__img-startup_height {
    height: 328px;
  }
  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .item_up {
    margin-top: -343px !important;
  }
  .services__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__item-text {
    margin-top: 30px;
  }
  .services__img-idea_justify {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .services__img-idea_justify .services__item-text {
    display: inline-block;
    width: 460px;
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .services__title-img-poly {
    display: none;
  }
  .services__title-img-arrow {
    display: none;
  }
  .services__title-text {
    text-align: center;
    padding-top: 80px;
    margin-left: 0;
  }
  .services__title {
    height: 140px;
  }
  .services__items {
    padding-bottom: 34px;
  }
}

.problem {
  width: 298px;
  margin: 0;
}

.services {
  gap: 15px;
  padding-right: 9px;
}

.services__section {
  padding-top: 158px;
}

.services__header {
  font: 30px 'Lato-700';
  text-transform: uppercase;
  -webkit-transform: translate(62px, -66px);
          transform: translate(62px, -66px);
  width: 39%;
}

.container__services {
  position: relative;
}

.hero-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-right: 12px;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 177px 55px 154px;
}

.services-text {
  width: 83%;
  text-align: center;
  font: 18px 'Lato-600';
  line-height: 21px;
  color: #fff;
}

.services__block__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  padding: 58px 0 36px;
}

.right__top p {
  width: 61%;
  text-align: center;
  font: 18px 'Lato-600';
  line-height: 21px;
  color: #fff;
}

.arrows {
  display: none;
}

.right__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 73px 0 59px;
}

.right__bottom p {
  width: 67%;
  text-align: center;
  font: 18px "Lato-600";
  line-height: 25px;
  color: #fff;
}

.services__block__left,
.right__top,
.right__bottom {
  background: #6CA7EF;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .hero__text {
    padding-left: 0;
    padding-top: 18px;
    margin: 17px 0px 44px 0px;
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    padding: 45px 0;
  }
}

@media (man-width: 598px) {
  .hero__title {
    font-size: 28px;
  }
  .hero__title__bottom {
    font-size: 18px;
  }
  .hero__img img {
    width: 100%;
    padding: 0px;
  }
}

@media (max-width: 598px) {
  .arrows {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .hero__img img {
    width: 100%;
    padding: 15px;
  }
  .row {
    margin: 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .hero__text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-polygon {
    display: none;
  }
}

@media (max-width: 768px) {
  .modal-window__modal-form {
    width: 100% !important;
    height: 100vh !important;
  }
}

@media (max-width: 400px) {
  .modal-window__modal-form {
    width: 100% !important;
    height: 100vh !important;
  }
}

@media (max-width: 1053px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-lg-4,
  .col-lg-8 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=hero.css.map */