extends ../layout.pug
include ../mixins/training-card
block content 
    section.section__page.trainings 
        .container.container__trainings
            .breadcrumbs
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='./index.html') Главная
                    li.breadcrumb-item.active(aria-current='page') Тренинги
            img.cube-img(src="../../assets/img/cube.png", alt="123")
            img.polygon2-img(src="../../assets/img/Polygon 2.png", alt="123")
            - const firstCard = {cardTitle: 'Бизнес-тренинг «Маркетинг – технология роста»', trainingDescr: 'Для кого: руководители компаний, маркетологи, продавцы', trainingGoal: 'Цели бизнес-тренинга:'}
            - const firstList = {1: 'Определение маркетинга как технологии роста', 2: 'Организация маркетинга как сквозного бизнес-процесса', 3: 'Получение практических навыков применения технологии маркетинга'}
            +training-card(firstCard, firstList)
            
            - const secondCard = {cardTitle: 'Тренинг с длинным названием в 3 текстовой строчки', trainingDescr: 'Для кого: руководители компаний, маркетологи, продавцы', trainingGoal: 'Цели бизнес-тренинга:'}
            - const secondList = {1: 'Определение маркетинга как технологии роста', 2: 'Организация маркетинга как сквозного бизнес-процесса', 3: 'Получение практических навыков применения технологии маркетинга', 4:'Получение практических навыков применения технологии маркетинга'}
            +training-card(secondCard, secondList)

            - const thirdCard = {cardTitle: 'Короткое название', trainingDescr: 'Для кого: руководители компаний, маркетологи, продавцы', trainingGoal: 'Цели бизнес-тренинга:'}
            - const thirdList = {1: 'Определение маркетинга как технологии роста', 2: 'Организация маркетинга как сквозного бизнес-процесса', 3: 'Получение практических навыков применения технологии маркетинга'}
            +training-card(thirdCard, thirdList)
        


